* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    min-height: 100vh;
    background-color: #D6D6D6;
    color: black;
    text-align: center;
    overflow: hidden;
}

img {
    max-width: 100%;
}

svg {
    width: 100%;
    height: auto;
}

.word {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
}

h1 {
    font-size: 200px;
}

:root {
    --delay-time: 8s;
}