.paper {
    font-family: 'Shantell Sans', cursive;
    color: white;
    display: inline-block;
    position: absolute;
    opacity: 0;
    animation: 4s float-paper 6s linear, rotateUp 2s 10s;
    transform: translateX(50%) translateY(-80%) skew(330deg);
    animation-fill-mode: forwards;
    z-index: 4;
}

.paper-sheet {
    position: relative;
    display: grid;
}

.paper-sheet__img {
    align-self: center;
    width: 50%;
    position: absolute;
    transform: translateX(50%) translateY(-80%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    animation: 4s float 6s linear;
    animation-fill-mode: forwards;
    z-index: 3;
}

@keyframes rotateUp {
    from {
        transform: rotateX(90deg);
        transform-origin: center bottom;
    }

    to {
        transform: rotateX(0deg);
        transform-origin: center bottom;
    }
}

@keyframes float {
    0% {
        transform: translateX(50%) translateY(-80%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    }

    5% {
        transform: translateX(47.5%) translateY(-66.5%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    }

    10% {
        transform: translateX(45%) translateY(-63%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    }

    15% {
        transform: translateX(40%) translateY(-59.5%) rotate(90deg) rotateY(70deg) rotateX(15.5deg) skew(330deg);
    }

    20% {
        transform: translateX(35%) translateY(-56%) rotate(90deg) rotateY(70deg) rotateX(14deg) skew(330deg);
    }

    25% {
        transform: translateX(30%) translateY(-52.5%) rotate(90deg) rotateY(70deg) rotateX(10.5deg) skew(330deg);
    }

    30% {
        transform: translateX(25%) translateY(-49%) rotate(90deg) rotateY(70deg) rotateX(7deg) skew(330deg);
    }

    35% {
        transform: translateX(22.5%) translateY(-45.5%) rotate(90deg) rotateY(70deg) rotateX(4deg) skew(330deg);
    }

    40% {
        transform: translateX(20%) translateY(-42%) rotate(90deg) rotateY(70deg) rotateX(1deg) skew(330deg);
    }

    45% {
        transform: translateX(22.5%) translateY(-38.5%) rotate(90deg) rotateY(70deg) rotateX(2deg) skew(330deg);
    }

    50% {
        transform: translateX(25%) translateY(-35%) rotate(90deg) rotateY(70deg) rotateX(3deg) skew(330deg);
    }

    55% {
        transform: translateX(30%) translateY(-31.5%) rotate(90deg) rotateY(70deg) rotateX(5deg) skew(330deg);
    }

    60% {
        transform: translateX(35%) translateY(-28%) rotate(90deg) rotateY(70deg) rotateX(7deg) skew(330deg);
    }

    65% {
        transform: translateX(40%) translateY(-24.5%) rotate(90deg) rotateY(70deg) rotateX(8deg) skew(330deg);
    }

    70% {
        transform: translateX(45%) translateY(-21%) rotate(90deg) rotateY(70deg) rotateX(9deg) skew(330deg);
    }

    75% {
        transform: translateX(47.5%) translateY(-17.5%) rotate(90deg) rotateY(70deg) rotateX(10.5deg) skew(330deg);
    }

    80% {
        transform: translateX(50%) translateY(-14%) rotate(90deg) rotateY(70deg) rotateX(12deg) skew(330deg);
    }

    85% {
        transform: translateX(52.5%) translateY(-10.5%) rotate(90deg) rotateY(70deg) rotateX(13deg) skew(330deg);
    }

    90% {
        transform: translateX(55%) translateY(-7%) rotate(90deg) rotateY(70deg) rotateX(14deg) skew(330deg);
    }

    95% {
        transform: translateX(52.5%) translateY(-3.5%) rotate(90deg) rotateY(70deg) rotateX(13deg) skew(330deg);
    }

    100% {
        transform: translateX(50%) translateY(0%) rotate(90deg) rotateY(90deg) skew(360deg);
    }
}

@keyframes float-paper {
    0% {
        opacity: 1;
        transform: translateX(50%) translateY(-80%) skew(330deg);
    }

    5% {
        transform: translateX(47.5%) translateY(-66.5%) skew(330deg);
    }

    10% {
        transform: translateX(45%) translateY(-63%) skew(330deg);
    }

    15% {
        transform: translateX(40%) translateY(-59.5%) skew(330deg);
    }

    20% {
        transform: translateX(35%) translateY(-56%) skew(330deg);
    }

    25% {
        transform: translateX(30%) translateY(-52.5%) skew(330deg);
    }

    30% {
        transform: translateX(25%) translateY(-49%) skew(330deg);
    }

    35% {
        transform: translateX(22.5%) translateY(-45.5%) skew(330deg);
    }

    40% {
        transform: translateX(20%) translateY(-42%) skew(330deg);
    }

    45% {
        transform: translateX(22.5%) translateY(-38.5%) skew(330deg);
    }

    50% {
        transform: translateX(25%) translateY(-35%) skew(330deg);
    }

    55% {
        transform: translateX(30%) translateY(-31.5%) skew(330deg);
    }

    60% {
        transform: translateX(35%) translateY(-28%) skew(330deg);
    }

    65% {
        transform: translateX(40%) translateY(-24.5%) skew(330deg);
    }

    70% {
        transform: translateX(45%) translateY(-21%) skew(330deg);
    }

    75% {
        transform: translateX(47.5%) translateY(-17.5%) skew(330deg);
    }

    80% {
        transform: translateX(50%) translateY(-14%) skew(330deg);
    }

    85% {
        transform: translateX(52.5%) translateY(-10.5%) skew(330deg);
    }

    90% {
        transform: translateX(55%) translateY(-7%) skew(330deg);
    }

    95% {
        transform: translateX(52.5%) translateY(-3.5%) skew(330deg);
    }

    100% {
        opacity: 1;
        transform: translateX(50%) translateY(0%) skew(360deg);
    }
}