.paper {
    font-family: 'Shantell Sans', cursive;
    color: white;
    display: inline-block;
    position: absolute;
    opacity: 1;
    animation: /*4s float-paper 6s linear,*/ rotateUp 2s 10s;
    transform: translateX(0%) translateY(-60%) skew(330deg);
    animation-fill-mode: forwards;
    border-color: black;
    filter: drop-shadow(1px 1px blue);
    z-index: 4;
    width: 50%;
    height: 100vh;
}

#bottom {
    animation: cutRight 2s 12s ease-out;
    transform: translateX(10%);
    animation-fill-mode: forwards;
    transform-origin: 10% 40%;
}

#middle {
    animation: cutLeft 2s 14s ease-out;
    transform: translateX(10%);
    animation-fill-mode: forwards;
    transform-origin: 90% 30%;
}

#top {
    animation: fall 1s 15s ease-in;
    transform: translateX(10%);
    animation-fill-mode: forwards;
}

.paper-sheet {
    position: relative;
    display: grid;
}

.paper-sheet__img {
    align-self: center;
    width: 50%;
    position: absolute;
    transform: translateX(50%) translateY(-30%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    animation: 4s float 6s linear;
    animation-fill-mode: forwards;
    z-index: 3;
}

@keyframes cutRight {
    50% {
        transform: rotate(3deg) translateX(10%);     
    }

    100% {
        transform: rotate(3deg) translateX(10%) translateY(300%);
    }
}

@keyframes cutLeft {
    50% {
        transform: rotate(-3deg) translateX(10%);
    }

    100% {
        transform: rotate(-3deg) translateX(10%) translateY(300%);
    }
}

@keyframes fall {
    to {
        transform: translateX(10%) translateY(300%);
    }
}

@keyframes rotateUp {
    from {
        transform: rotateX(90deg);
        transform-origin: center center;
    }

    to {
        transform: rotateX(0deg);
        transform-origin: center center;
    }
}

@keyframes float {
    0% {
        transform: translateX(50%) translateY(-30%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    }

    5% {
        transform: translateX(47.5%) translateY(-16.5%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    }

    10% {
        transform: translateX(45%) translateY(-13%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    }

    15% {
        transform: translateX(40%) translateY(-9.5%) rotate(90deg) rotateY(70deg) rotateX(15.5deg) skew(330deg);
    }

    20% {
        transform: translateX(35%) translateY(-6%) rotate(90deg) rotateY(70deg) rotateX(14deg) skew(330deg);
    }

    25% {
        transform: translateX(30%) translateY(-2.5%) rotate(90deg) rotateY(70deg) rotateX(10.5deg) skew(330deg);
    }

    30% {
        transform: translateX(25%) translateY(1%) rotate(90deg) rotateY(70deg) rotateX(7deg) skew(330deg);
    }

    35% {
        transform: translateX(22.5%) translateY(4.5%) rotate(90deg) rotateY(70deg) rotateX(4deg) skew(330deg);
    }

    40% {
        transform: translateX(20%) translateY(8%) rotate(90deg) rotateY(70deg) rotateX(1deg) skew(330deg);
    }

    45% {
        transform: translateX(22.5%) translateY(11.5%) rotate(90deg) rotateY(70deg) rotateX(2deg) skew(330deg);
    }

    50% {
        transform: translateX(25%) translateY(15%) rotate(90deg) rotateY(70deg) rotateX(3deg) skew(330deg);
    }

    55% {
        transform: translateX(30%) translateY(18.5%) rotate(90deg) rotateY(70deg) rotateX(5deg) skew(330deg);
    }

    60% {
        transform: translateX(35%) translateY(22%) rotate(90deg) rotateY(70deg) rotateX(7deg) skew(330deg);
    }

    65% {
        transform: translateX(40%) translateY(25.5%) rotate(90deg) rotateY(70deg) rotateX(8deg) skew(330deg);
    }

    70% {
        transform: translateX(45%) translateY(29%) rotate(90deg) rotateY(70deg) rotateX(9deg) skew(330deg);
    }

    75% {
        transform: translateX(47.5%) translateY(32.5%) rotate(90deg) rotateY(70deg) rotateX(10.5deg) skew(330deg);
    }

    80% {
        transform: translateX(50%) translateY(36%) rotate(90deg) rotateY(70deg) rotateX(12deg) skew(330deg);
    }

    85% {
        transform: translateX(52.5%) translateY(39.5%) rotate(90deg) rotateY(70deg) rotateX(13deg) skew(330deg);
    }

    90% {
        transform: translateX(55%) translateY(43%) rotate(90deg) rotateY(70deg) rotateX(14deg) skew(330deg);
    }

    95% {
        transform: translateX(52.5%) translateY(46.5%) rotate(90deg) rotateY(70deg) rotateX(13deg) skew(330deg);
    }

    100% {
        transform: translateX(50%) translateY(50%) rotate(90deg) rotateY(90deg) skew(360deg);
    }
}

@keyframes float-paper {
    0% {
        opacity: 1;
        transform: translateX(0%) translateY(-62%) skew(330deg);
    }

    5% {
        transform: translateX(-2.5%) translateY(-59%) skew(330deg);
    }

    10% {
        transform: translateX(-5%) translateY(-55%) skew(330deg);
    }

    15% {
        transform: translateX(-10%) translateY(-52%) skew(330deg);
    }

    20% {
        transform: translateX(-15%) translateY(-49%) skew(330deg);
    }

    25% {
        transform: translateX(-20%) translateY(-47%) rotate(2deg) skew(330deg);
    }

    30% {
        transform: translateX(-25%) translateY(-43%) rotate(5deg) skew(330deg);
    }

    35% {
        transform: translateX(-27.5%) translateY(-39%) rotate(8deg) skew(330deg);
    }

    40% {
        transform: translateX(-30%) translateY(-36%) rotate(10deg) skew(330deg);
    }

    45% {
        transform: translateX(-27.5%) translateY(-33%) rotate(8deg) skew(330deg);
    }

    50% {
        transform: translateX(-25%) translateY(-30%) rotate(5deg) skew(330deg);
    }

    55% {
        transform: translateX(-20%) translateY(-27%) rotate(2deg) skew(330deg);
    }

    60% {
        transform: translateX(-15%) translateY(-23%) skew(330deg);
    }

    65% {
        transform: translateX(-10%) translateY(-20%) skew(330deg);
    }

    70% {
        transform: translateX(-5%) translateY(-16%) skew(330deg);
    }

    75% {
        transform: translateX(-2.5%) translateY(-12%) skew(330deg);
    }

    80% {
        transform: translateX(0%) translateY(-10%) skew(330deg);
    }

    85% {
        transform: translateX(2.5%) translateY(-7%) skew(330deg);
    }

    90% {
        transform: translateX(5%) translateY(-4%) skew(330deg);
    }

    95% {
        transform: translateX(2.5%) translateY(-1%) skew(330deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0%) translateY(0%) skew(360deg);
    }
}