.paper {
    font-family: 'Shantell Sans', cursive;
    color: white;
    display: inline-block;
    position: absolute;
    opacity: 1;
    animation: 4s float-paper 6s linear, rotateUp 2s 10s;
    transform: translateX(0%) translateY(-350%) skew(330deg);
    animation-fill-mode: forwards;
    border-color: black;
    text-shadow: 1px 1px blue;
    z-index: 4;
}

.paper-sheet {
    position: relative;
    display: grid;
}

.paper-sheet__img {
    align-self: center;
    width: 50%;
    position: absolute;
    transform: translateX(50%) translateY(-30%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    animation: 4s float 6s linear;
    animation-fill-mode: forwards;
    z-index: 3;
}

@keyframes rotateUp {
    from {
        transform: rotateX(90deg);
        transform-origin: center bottom;
    }

    to {
        transform: rotateX(0deg);
        transform-origin: center bottom;
    }
}

@keyframes float {
    0% {
        transform: translateX(50%) translateY(-30%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    }

    5% {
        transform: translateX(47.5%) translateY(-16.5%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    }

    10% {
        transform: translateX(45%) translateY(-13%) rotate(90deg) rotateY(70deg) rotateX(17deg) skew(330deg);
    }

    15% {
        transform: translateX(40%) translateY(-9.5%) rotate(90deg) rotateY(70deg) rotateX(15.5deg) skew(330deg);
    }

    20% {
        transform: translateX(35%) translateY(-6%) rotate(90deg) rotateY(70deg) rotateX(14deg) skew(330deg);
    }

    25% {
        transform: translateX(30%) translateY(-2.5%) rotate(90deg) rotateY(70deg) rotateX(10.5deg) skew(330deg);
    }

    30% {
        transform: translateX(25%) translateY(1%) rotate(90deg) rotateY(70deg) rotateX(7deg) skew(330deg);
    }

    35% {
        transform: translateX(22.5%) translateY(4.5%) rotate(90deg) rotateY(70deg) rotateX(4deg) skew(330deg);
    }

    40% {
        transform: translateX(20%) translateY(8%) rotate(90deg) rotateY(70deg) rotateX(1deg) skew(330deg);
    }

    45% {
        transform: translateX(22.5%) translateY(11.5%) rotate(90deg) rotateY(70deg) rotateX(2deg) skew(330deg);
    }

    50% {
        transform: translateX(25%) translateY(15%) rotate(90deg) rotateY(70deg) rotateX(3deg) skew(330deg);
    }

    55% {
        transform: translateX(30%) translateY(18.5%) rotate(90deg) rotateY(70deg) rotateX(5deg) skew(330deg);
    }

    60% {
        transform: translateX(35%) translateY(22%) rotate(90deg) rotateY(70deg) rotateX(7deg) skew(330deg);
    }

    65% {
        transform: translateX(40%) translateY(25.5%) rotate(90deg) rotateY(70deg) rotateX(8deg) skew(330deg);
    }

    70% {
        transform: translateX(45%) translateY(29%) rotate(90deg) rotateY(70deg) rotateX(9deg) skew(330deg);
    }

    75% {
        transform: translateX(47.5%) translateY(32.5%) rotate(90deg) rotateY(70deg) rotateX(10.5deg) skew(330deg);
    }

    80% {
        transform: translateX(50%) translateY(36%) rotate(90deg) rotateY(70deg) rotateX(12deg) skew(330deg);
    }

    85% {
        transform: translateX(52.5%) translateY(39.5%) rotate(90deg) rotateY(70deg) rotateX(13deg) skew(330deg);
    }

    90% {
        transform: translateX(55%) translateY(43%) rotate(90deg) rotateY(70deg) rotateX(14deg) skew(330deg);
    }

    95% {
        transform: translateX(52.5%) translateY(46.5%) rotate(90deg) rotateY(70deg) rotateX(13deg) skew(330deg);
    }

    100% {
        transform: translateX(50%) translateY(50%) rotate(90deg) rotateY(90deg) skew(360deg);
    }
}

@keyframes float-paper {
    0% {
        opacity: 1;
        transform: translateX(0%) translateY(-262%) skew(330deg);
    }

    5% {
        transform: translateX(-2.5%) translateY(-245.5%) skew(330deg);
    }

    10% {
        transform: translateX(-5%) translateY(-235%) skew(330deg);
    }

    15% {
        transform: translateX(-10%) translateY(-226.5%) skew(330deg);
    }

    20% {
        transform: translateX(-15%) translateY(-214%) skew(330deg);
    }

    25% {
        transform: translateX(-20%) translateY(-201.5%) rotate(2deg) skew(330deg);
    }

    30% {
        transform: translateX(-25%) translateY(-192%) rotate(5deg) skew(330deg);
    }

    35% {
        transform: translateX(-27.5%) translateY(-172.5%) rotate(8deg) skew(330deg);
    }

    40% {
        transform: translateX(-30%) translateY(-155%) rotate(10deg) skew(330deg);
    }

    45% {
        transform: translateX(-27.5%) translateY(-137.5%) rotate(8deg) skew(330deg);
    }

    50% {
        transform: translateX(-25%) translateY(-125%) rotate(5deg) skew(330deg);
    }

    55% {
        transform: translateX(-20%) translateY(-112.5%) rotate(2deg) skew(330deg);
    }

    60% {
        transform: translateX(-15%) translateY(-100%) skew(330deg);
    }

    65% {
        transform: translateX(-10%) translateY(-87.5%) skew(330deg);
    }

    70% {
        transform: translateX(-5%) translateY(-75%) skew(330deg);
    }

    75% {
        transform: translateX(-2.5%) translateY(-62.5%) skew(330deg);
    }

    80% {
        transform: translateX(0%) translateY(-50%) skew(330deg);
    }

    85% {
        transform: translateX(2.5%) translateY(-37.5%) skew(330deg);
    }

    90% {
        transform: translateX(5%) translateY(-25%) skew(330deg);
    }

    95% {
        transform: translateX(2.5%) translateY(-12.5%) skew(330deg);
    }

    100% {
        opacity: 1;
        transform: translateX(0%) translateY(0%) skew(360deg);
    }
}