.rock {
  font-family: Science-Gothic;
  color: #3D3D3D;
  position: absolute;
  animation: rise 2.5s 3s linear, fade-out 0s 9.6s linear;
  animation-fill-mode: both;
  z-index: 2;
}

.rock>* {
  margin: -20px;
  display: inline-block;
}

.rock span:first-child {
  transform: translateY(20%) rotate(45deg);
  animation: word-falling 1s ease-in, split-letter1 1s 1s ease;
  animation-fill-mode: forwards;
}

.rock span:nth-child(2) {
  transform: translateY(-10%) rotate(20deg);
  animation: word-falling 1s ease-in, split-letter2 1s 1s ease;
  animation-fill-mode: forwards;
}

.rock span:nth-child(3) {
  transform: translateX(-20%) translateY(30%) rotate(-10deg);
  animation: word-falling2 1s ease-in, split-letter3 1s 1s ease;
  animation-fill-mode: forwards;
}

.rock span:last-child {
  transform: rotate(-30deg);
  animation: word-falling2 1s ease-in, split-letter4 1s 1s ease;
  animation-fill-mode: forwards;
}


@keyframes split-letter1 {
  0% {
    transform: translateY(20%) rotate(45deg);
  }

  50% {
    transform: translateX(-40%) translateY(80%) rotate(60deg);
  }

  100% {
    transform: translateX(0%) translateY(0%) rotate(0deg);
  }
}

@keyframes split-letter2 {
  0% {
    transform: translateY(-10%) rotate(20deg);
  }

  50% {
    transform: translateX(-20%) translateY(60%) rotate(15deg);
  }

  100% {
    transform: translateX(0%) translateY(0%) rotate(0deg);
  }
}

@keyframes split-letter3 {
  0% {
    transform: translateX(-20%) translateY(30%) rotate(-10deg);
  }

  50% {
    transform: translateX(20%) translateY(60%) rotate(-20deg);
  }

  100% {
    transform: translateX(0%) translateY(0%) rotate(0deg);
  }
}

@keyframes split-letter4 {
  0% {
    transform: rotate(-30deg);
  }

  50% {
    transform: translateX(40%) translateY(70%) rotate(-50deg);
  }

  100% {
    transform: translateX(0%) translateY(0%) rotate(0deg);
  }
}

@keyframes word-falling {
  from {
    transform: translateY(-800%) rotate(45deg);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes word-falling2 {
  from {
    transform: translateY(-800%) rotate(-45deg);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes rise {
  0% {
    transform: translateX(0%) translateY(30%);
  }

  5% {
    transform: translateX(0.5%) translateY(28.5%);
  }

  10% {
    transform: translateX(-0.5%) translateY(27%);
  }

  15% {
    transform: translateX(0.5%) translateY(25.5%);
  }

  20% {
    transform: translateX(-0.5%) translateY(24%);
  }

  25% {
    transform: translateX(0.5%) translateY(22.5%);
  }

  30% {
    transform: translateX(-0.5%) translateY(21%);
  }

  35% {
    transform: translateX(0.5%) translateY(19.5%);
  }

  40% {
    transform: translateX(-0.5%) translateY(18%);
  }

  45% {
    transform: translateX(0.5%) translateY(16.5%);
  }

  50% {
    transform: translateX(-0.5%) translateY(15%);
  }

  55% {
    transform: translateX(0.5%) translateY(13.5%);
  }

  60% {
    transform: translateX(-0.5%) translateY(12%);
  }

  65% {
    transform: translateX(0.5%) translateY(10.5%);
  }

  70% {
    transform: translateX(-0.5%) translateY(9%);
  }

  75% {
    transform: translateX(0.5%) translateY(7.5%);
  }

  80% {
    transform: translateX(-0.5%) translateY(6%);
  }

  85% {
    transform: translateX(0.5%) translateY(4.5%);
  }

  90% {
    transform: translateX(-0.5%) translateY(3%);
  }

  95% {
    transform: translateX(0.5%) translateY(1.5%);
  }

  100% {
    transform: translateX(0%) translateY(0%);
  }
}

/* axes {
  tag: "YOPQ"
  min_value: 18
  max_value: 122
}
axes {
  tag: "wght"
  min_value: 100
  max_value: 900
}
axes {
  tag: "wdth"
  min_value: 75
  max_value: 200
}
axes {
  tag: "slnt"
  min_value: -10
  max_value: 0
} */