.rock {
  font-family: Science-Gothic;
  color: #3D3D3D;
  position: absolute;
  animation: rise 2.5s 3s linear, fade-in 0.2s 3s linear, fade-out 0s 9.6s linear;
  animation-fill-mode: both;
}

@keyframes rise {
  0% {
    transform: translateX(0%) translateY(30%);
  }

  5% {
    transform: translateX(0.5%) translateY(28.5%);
  }

  10% {
    transform: translateX(-0.5%) translateY(27%);
  }

  15% {
    transform: translateX(0.5%) translateY(25.5%);
  }

  20% {
    transform: translateX(-0.5%) translateY(24%);
  }

  25% {
    transform: translateX(0.5%) translateY(22.5%);
  }

  30% {
    transform: translateX(-0.5%) translateY(21%);
  }

  35% {
    transform: translateX(0.5%) translateY(19.5%);
  }

  40% {
    transform: translateX(-0.5%) translateY(18%);
  }

  45% {
    transform: translateX(0.5%) translateY(16.5%);
  }

  50% {
    transform: translateX(-0.5%) translateY(15%);
  }

  55% {
    transform: translateX(0.5%) translateY(13.5%);
  }

  60% {
    transform: translateX(-0.5%) translateY(12%);
  }

  65% {
    transform: translateX(0.5%) translateY(10.5%);
  }

  70% {
    transform: translateX(-0.5%) translateY(9%);
  }

  75% {
    transform: translateX(0.5%) translateY(7.5%);
  }

  80% {
    transform: translateX(-0.5%) translateY(6%);
  }

  85% {
    transform: translateX(0.5%) translateY(4.5%);
  }

  90% {
    transform: translateX(-0.5%) translateY(3%);
  }

  95% {
    transform: translateX(0.5%) translateY(1.5%);
  }

  100% {
    transform: translateX(0%) translateY(0%);
  }
}

/* axes {
  tag: "YOPQ"
  min_value: 18
  max_value: 122
}
axes {
  tag: "wght"
  min_value: 100
  max_value: 900
}
axes {
  tag: "wdth"
  min_value: 75
  max_value: 200
}
axes {
  tag: "slnt"
  min_value: -10
  max_value: 0
} */

.rock__imgs>* {
  position: absolute;
  height: 50vh;
  left: 10%;
  width: 75%;
  z-index: 1;
  top: -100%;
}

.rock__imgs>*:after {
  left: 10%;
  top: 10%;
}

#rock1 {
  animation: rock-falling 1s ease-in, 1s spreading-apart1 1s ease-out;
  left: 30%;
}

#rock2 {
  animation: rock-falling 1s ease-in, 1s spreading-apart2 1s ease-out;
  z-index: 2;
}

#rock3 {
  animation: rock-falling 1s ease-in, 1s spreading-apart3 1s ease-out;
  width: 30%;
}

#rock4 {
  animation: rock-falling 1s ease-in, 1s spreading-apart4 1s ease-out;
}

#rock5 {
  animation: rock-falling 1s ease-in, 1s spreading-apart5 1s ease-out;
}

#rock6 {
  animation: rock-falling 1s ease-in, 1s spreading-apart6 1s ease-out;
}

@keyframes rock-falling {
  from {
    top: -100%;
  }

  to {
    top: 10%;
  }
}

@keyframes spreading-apart1 {
  from {
    top: 10%;
    left: 30%;
  }

  to {
    top: 60%;
    left: 100%;
    transform: rotate(60deg);
  }
}

@keyframes spreading-apart2 {
  from {
    top: 10%;
    left: 10%;
  }

  to {
    top: 70%;
    left: -70%;
    transform: rotate(-90deg);
  }
}

@keyframes spreading-apart3 {
  from {
    top: 10%;
    left: 10%;
  }

  to {
    top: 20%;
    left: -70%;
    transform: rotate(90deg);
  }
}

@keyframes spreading-apart4 {
  from {
    top: 10%;
    left: 10%;
  }

  to {
    top: 120%;
    left: 100%;
    transform: rotate(60deg);
  }
}

@keyframes spreading-apart5 {
  from {
    top: 10%;
    left: 10%;
  }

  to {
    top: 120%;
    left: 40%;
    transform: rotate(-60deg);
  }
}

@keyframes spreading-apart6 {
  from {
    top: 10%;
    left: 10%;
  }

  to {
    top: 150%;
    left: 20%;
    transform: rotate(80deg);
  }
}